html, body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 16fr 1fr;
}

header {
    background-color: rgb(255, 86, 143);
    display: grid;
    grid-row: 1 / 2;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.modal {
    display: none;
}

.library-title-header,
#remove-all,
#new-book {
    color: white;
    font-size: 1.5rem;
}

header > button {
    background-color: rgb(255, 86, 143);;
    border: 0px;
    border-bottom: 1px solid black;
    width: 10rem;
    height: 4rem;
}

main { 
    display: grid;
    gap: 3rem;
    padding: 1rem;
    grid-row: 2 / 3;
}

footer { 
    display: grid;
    justify-self: stretch;
    justify-content: center;
    grid-row: 3 / 4;
    background-color: rgb(255, 211, 157);
}




.card {
    color: white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(20, 87, 7);
    width: 15rem;
    height: 20rem;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
}

#title-text {
    font-size: 2rem;
    font-weight: bold;
}

#remove-button {
    background-color: rgb(10, 144, 44);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    width: 10rem;
    height: 2rem;
}